.memory-game {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content: center;
  max-width: 900px;
  margin: 20px auto;
}

.memory-card {
  position: relative;
  width: 180px;
  height: 180px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backface-visibility: hidden;
  object-fit: cover;
}

.front-face {
  transform: rotateY(180deg);
}

.win-message {
  margin-left: 40px;
}

.muistipeliMenu {
  text-align: center;
  margin-top: 40px;
}

.muistipeliMenu select {
  margin: 10px;
  padding: 5px;
}

.muistipeliMenu button,
.muistipeliMenu select {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #202242;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.muistipeliMenu button:hover {
  background-color: #2e2f5e;
}

.muistipeliUI {
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #202242;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.muistipeliUI:hover {
  background-color: #2e2f5e;
}

.win-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.win-message h2 {
  margin-right: 10px;
  margin: 0px;
}