.sudoku-container {
    text-align: center;
    background: linear-gradient(135deg, rgba(238, 174, 202, 1) 25%, rgba(148, 187, 233, 1) 100%);
    padding: 20px;
    min-height: 100vh;
}

.sudoku-grid {
    display: grid;
    grid-template-columns: repeat(9, 40px);
    grid-template-rows: repeat(9, 40px);
    background: white;
    padding: 16px;
    border-radius: 10px;
    margin: 20px auto;
    width: fit-content;
}

.sudoku-cell {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    outline: none;
    background-color: #f0f0f0;
}

.sudoku-input {
    text-align: center;
    font-size: 20px;
    outline: none;
    color: black;
    cursor: default;
}

.sudoku-input:focus {
    background-color: rgba(148, 187, 233, 1);
    caret-color: transparent;
}

.sudoku-title {
    font-family: Arial, Helvetica, sans-serif;
}

.sudoku-difficulty-buttons {
    margin-top: 20px;
}

.sudoku-cell:nth-child(3n) {
    border-right: 3px solid black;
}
.sudoku-cell:nth-child(n+19):nth-child(-n+27) {
    border-bottom: 3px solid black;
}
.sudoku-cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 3px solid black;
}
.sudoku-cell:nth-child(n+73):nth-child(-n+81) {
    border-bottom: 3px solid black;
}
.sudoku-cell:nth-child(9n+1) {
    border-left: 3px solid black;
}
.sudoku-cell:nth-child(9n) {
    border-right: 3px solid black;
}
.sudoku-cell:nth-child(-n+9) {
    border-top: 3px solid black;
}
.sudoku-buttons {
    margin: 10px 10px 0px 10px;
    width: 115px;
}