# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4

    # Install root dependencies (if needed)
    - name: Install root dependencies
      run: npm ci

    # Go to client folder
    - name: Install client dependencies
      working-directory: ./client
      run: npm ci

    - name: Build client
      working-directory: ./client
      run: npm run build --if-present

    - name: Run client tests
      working-directory: ./client
      run: npm test
